language: ruby
branches:
  only:
    - master
rvm:
  - 1.9.3
script: bundle exec jekyll build
install: bundle install
after_success:
  - cp -rf _site ../_site
  - git fetch
  - git checkout -f gh-pages
  - git remote add github https://8c3762ca3a528dd9181d746d564482dac74758a9@github.com/invokelabs/objc.docs.invokernd.com.git
  - rsync -av --progress --itemize-changes ../_site .
  - git config user.email "github@mechaloid.com"
  - git config user.name "Shih Oon Liong"
  - git commit -am "They always say time changes things, but you actually have to change them yourself"
  - git push github gh-pages