<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{ page.base_url }}" class="navbar-brand">Invoke Labs</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li class="dropdown {% if page.slug == "style_guide" %}active{% endif %}">
          <a href="{{ page.base_url }}content/style_guide" class="dropdown-toggle" data-toggle="dropdown">Style Guide</a>
            <ul class="dropdown-menu">
              <li><a href="{{ page.base_url }}content/style_guide">Overview</a></li>
              <li><a href="{{ page.base_url }}content/style_guide#dot-notation-syntax">Dot-Notation Syntax</a></li>
              <li><a href="{{ page.base_url }}content/style_guide#spacing">Spacing</a></li>
              <li><a href="{{ page.base_url }}content/style_guide#conditionals">Conditionals</a></li>
              <li><a href="{{ page.base_url }}content/style_guide#error-handling">Error handling</a></li>
              <li><a href="{{ page.base_url }}content/style_guide#methods">Methods</a></li>
              <li><a href="{{ page.base_url }}content/style_guide#variables">Variables</a></li>
              <li><a href="{{ page.base_url }}content/style_guide#naming">Naming</a></li>
              <li><a href="{{ page.base_url }}content/style_guide#image-naming">Image Naming</a></li>
              <li><a href="{{ page.base_url }}content/style_guide#booleans">Booleans</a></li>
              <li><a href="{{ page.base_url }}content/style_guide#singletons">Singletons</a></li>
            </ul>
        </li>

        <li class="dropdown {% if page.slug == "coding_practices" %}active{% endif %}">
          <a href="{{ page.base_url }}content/coding_practices" class="dropdown-toggle" data-toggle="dropdown">Coding Practices</a>
            <ul class="dropdown-menu">
              <li><a href="{{ page.base_url }}content/coding_practices">Overview</a></li>              
              <li><a href="{{ page.base_url }}content/coding_practices#init-and-dealloc">init and dealloc</a></li>
              <li><a href="{{ page.base_url }}content/coding_practices#class-layout">Class Layout</a></li>
              <li><a href="{{ page.base_url }}content/coding_practices#literals">Literals</a></li>
              <li><a href="{{ page.base_url }}content/coding_practices#cgrect-functions">CGRect Functions</a></li>
              <li><a href="{{ page.base_url }}content/coding_practices#constants">Constants</a></li>
              <li><a href="{{ page.base_url }}content/coding_practices#enumerated-types">Enumerated Types</a></li>
              <li><a href="{{ page.base_url }}content/coding_practices#private-properties">Private Properties</a></li>
              <li><a href="{{ page.base_url }}content/coding_practices#blocks">Blocks</a></li>
            </ul>
        </li>

        <li{% if page.slug == "documentation" %} class="active"{% endif %}>
          <a href="{{ page.base_url }}content/documentation">Documentation</a>
        </li>

        <li{% if page.slug == "xcode" %} class="active"{% endif %}>
          <a href="{{ page.base_url }}content/xcode">Documentation</a>
        </li>

      </ul>
    </nav>
  </div>
</header>
