<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include header.html %}
    <!-- Place anything custom after this. -->
  </head>
  <body style="visibility:hidden" onload="unhideBody()">
    <div id="overlay"> 
      <a class="sr-only" href="#content">Skip navigation</a>
      <!-- Docs master nav -->
      {% include nav-main.html %}

      <!-- Docs page layout -->
      <div class="bs-header" id="content">
        <div class="container" id="fade-in">
          <h1>{{ page.title }}</h1>
        </div>
      </div>
      
      <div class="container-upper-body">
        <div class="row">
          <div class="body-content col-md-12" role="main">
            {{ content }}
          </div>
        </div>
      </div>

    </div>

    <!-- JS and analytics only. -->

    {% include footer.html %}

  </body>
</html>
