<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include header.html %}
    <!-- Place anything custom after this. -->
  </head>
  <body>
    <a class="sr-only" href="#content">Skip navigation</a>

    <!-- Docs master nav -->
    {% include nav-main.html %}

    <!-- Docs page layout -->
    <div class="bs-header" id="content">
      <div class="container">
        <h1>{{ page.title }}</h1>
      </div>
    </div>
    <br/>
    <div class="container center bs-docs-container">
      <div class="row">
<!--         <div class="col-md-3">
          <div class="bs-sidebar hidden-print" role="complementary">
            <ul class="nav bs-sidenav">
              &nbsp;
              {% if page.slug == "getting-started" %}
                {% include nav-getting-started.html %}
              {% elsif page.slug == "css" %}
                {% include nav-css.html %}
              {% elsif page.slug == "components" %}
                {% include nav-components.html %}
              {% elsif page.slug == "js" %}
                {% include nav-javascript.html %}
              {% elsif page.slug == "customize" %}
                {% include nav-customize.html %}
              {% endif %}
            </ul>
          </div>
        </div> -->
        <div class="body-content col-md-12" role="main">
          {{ content }}
        </div>
      </div>

    </div>

    <!-- Footer
    ================================================== -->
    <footer class="bs-footer" role="contentinfo">
      <div class="container">
        <!-- <ul class="footer-links">
          <li><a href="http://www.invokelabs.com" target="_blank">Website</a></li>
        </ul>
        <p class="left-corner">2013 Invoke Labs</p>
        <p class="right-corner">1.888.207.4106</p>
 -->      </div>
    </footer>

    <div id="footer">
      <div id="top-footer">    
        <div class="container" >
          <h3 id="tagline-footer">Looking Forward To Meeting You!</h3>
          <table id="table-footer">
            <tbody>
              <tr>
                <td id="table-item-footer"><a href="#">Events</a></td>
                <td><a href="#">Facebook</a></td>
              </tr>
              <tr>
                <td id="table-item-footer"><a href="#">Contact</a></td>
                <td><a href="#">Twitter</a></td>
              </tr>
              <tr>
                <td id="table-item-footer"><a href="#">Invoke Media</a></td>
                <td><a href="#">Instagram</a></td>
              </tr>
              <tr>
                <td></td>
                <td><a href="#">Linkedin</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div id="bottom-footer">
        <div class="container">
          <p class="left-corner">2013 Invoke Labs</p>
          <p class="right-corner">1.888.207.4106</p>
        </div>
      </div>
      </div>
    </div> 

    <!-- JS and analytics only. -->
    {% include footer.html %}

  </body>
</html>
